.vscode/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

Makefile.local
*.o
*.a
*.so
*.dylib
*.exe
*.dll
/bin/
/build/

/out/
/temp/
/tmp/
log/
*.log

.env
config.ini
secrets.json
credentials.txt